doctype
html(lang="en")
head
  link(href='http://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css')
  script(type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js")
  //- script(type="text/javascript" src="/js/blog.js")
  link(rel="stylesheet", href="/styles/_reset.css")
  link(rel="stylesheet", href="/styles/styles.css") 
  meta(charset="UTF-8")
  title Login
body
  h1 Admin
  div.new_post
    section.form_create
      form(action ="/blog", method = "POST" )
        fieldset
          button.send Create Post
          div.create_date
            label(for="date") Date:
            input(name = "date", value = new Date())
          div.author_container
            label(for="author_name") Created by:
            input( type = "text", name = "author", placeholder = "Created By")
          div.create_title
            label(for="title") Title:
            input( type = "text", name = "title", placeholder = "Title")
          div.create_content
            label(for="content") Content:
            textarea( type = "text", name = "body", placeholder = "Content" cols='20' rows='5')
  section.toDoList_container
    ul
      each item in blogs
        li.item
          div.post
            div.main_title
              != item.title
            div.hide
              button.next(type="submit") <
              button.prev(type="submit") >
              div.sneakPeek
                div.date
                  != item.date
                div.author
                  != item.author
                div.title
                  != item.title
                div.content
                  != item.content
                form(action ="/blog/#{item._id}", method = "GET")
                  button.update(type="submit") Update
                form(action="/blog/#{item._id}?_method=DELETE", method="post")
                  button.delete(type="submit") X
        //- section.form_container
        //-   form(action = "/blog/admin/#{blogs._id}?_method=PUT", method = "POST") 
        //-     div.title
        //-       label(for="title") Title:
        //-       input.title(type = "text", name = "title", placehoder ="title" value = blogs.title)
        //-     div.date
        //-       label(for="date") Date:
        //-       input.date(type = "text", name = "date", placehoder ="date" value = new Date())
        //-     div.author
        //-       label(for="author") Author
        //-       input.author(type = "text", name = "author", placehoder ="author" value = blogs.author)
        //-     div.body
        //-       lable(for="body") Content
        //-       input.body(type = "text", name = "body", placehoder ="body" value = blogs.content)
        //-     button.update(type="submit") Update
script(type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js")
script(src="/js/blogPost.js")
