doctype
html
head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="/styles/styles.css")
  title Hooray
body
  h1 Hooray
  div.new_post
    section.form_container
      form(action ="/blog", method = "POST" )
        fieldset
          button.send Create Post
          div.author_container
            label(for="author_name") Created by:
            input( type = "text", name = "author", placeholder = "Created By", size='0')
          div.title_container
            label(for="title") Title:
            input( type = "text", name = "title", placeholder = "Title", size='0')
          div.content_container
            label(for="content") Content:
            textarea( type = "text", name = "body", placeholder = "Content" cols='20' rows='5')
  section.toDoList_container
    ul
      each item in blogs
        li.item
          div.post
            button.next(type="submit") <
            button.prev(type="submit") >
            div.sneakPeek
              div.author
                != item.author
              div.title
                != item.title
              div.content
                != item.content
              form(action ="/blog/#{item._id}", method = "get")
                button.update(type="submit") Read Me
              form(action="/blog/#{item._id}?_method=DELETE", method="post")
                button.delete(type="submit") X
script(type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js")
script(src="/js/blogPost.js")
            //- a(href='/blog/#{item._id}')
              //- (href="#")
          //-         section.form_container
          //-   form.updating(action ="/blog/#{item._id}?_method=put", method = "POST" )
          //-     fieldset
          //-       div.update_hide
          //-         div.update_title_container
          //-           //- label Update: 
          //-           input( type = "text", name = "title", placeholder = "Update to-do", size='0')
          //-           button.update(type="submit") Update
          //-          div.update_author_container
          //-           //- label Update: 
          //-           input( type = "text", name = "title", placeholder = "Update to-do", size='0')       
          //-         div.update_description_container
          //-           textarea( type = "text", name = "description", placeholder = "Notes" cols='20' rows='5')