doctype
html(lang="en")
head
  link(rel="stylesheet", href="styles/styles.css")
  link(rel="stylesheet", href="styles/_reset.css")
  meta(charset="UTF-8")
body
  h1 Edit Post
  //- div.background
  //-   div.logowrapper
  //-     div.logo Horray
  //-      div.picturewrapper
        //- img(src='http://cdn.c.photoshelter.com/img-get/I0000iAuAcJVVu34/s/750/chinatown-san-francisco-17-casanf77640....')
  section.edit_posts
    form(action = "/blog/#{blogs._id}?_method=PUT", method = "POST") 
      fieldset
        div.date_edit
          label(for="date") Date:
          input.date(type = "text", name = "date", placeholder ="date" value = new Date())
        div.title_edit
          label(for="title") Title:
          input.title(type = "text", name = "title", placeholder ="title" value = blogs.title)
        div.author_edit
          label(for="author") Author
          input.author(type = "text", name = "author", placeholder ="author" value = blogs.author)
        div.body_edit
          lable(for="body") Content
          input.body(type = "text", name = "body", placeholder ="body" value = blogs.content cols='20' rows='5')
        button.update(type="submit") Update
    //- div.footer
    //-   ul
    //-     li
    //-       a(href='/') back
    //-     li
    //-       a(href='/') next 
script(type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js")
script(type="text/javascript" src="js/blogPost.js")

//- form(action = "/blog/#{blogs._id}?_method=PUT", method = "POST")
//- doctype
//- html
//- head
//-   meta(charset="UTF-8")
//-   link(rel="stylesheet", href="/styles/styles.css")
//-   title Hooray
//- body
//-   h1 Hooray
//-   div.new_post
//-     section.form_container
//-       form(action ="/slider", method = "POST" )
//-         fieldset
//-           button.send Create Post
//-           div.author_container
//-             label(for="author_name") Created by:
//-             input( type = "text", name = "author", placeholder = "Created By", size='0')
//-           div.title_container
//-             label(for="title") Title:
//-             input( type = "text", name = "title", placeholder = "Title", size='0')
//-           div.content_container
//-             label(for="content") Content:
//-             textarea( type = "text", name = "body", placeholder = "Content" cols='20' rows='5')
//-     section.toDoList_container
//-       ul
//-         each item in blogs
//-           li.item
//-             div#slider
//-               button.next(type="submit") <
//-               button.prev(type="submit") >
//-               ul.slides
//-                 li.slide(img src = "http://www.pbh2.com/wordpress/wp-content/uploads/2013/03/cute-puppy-gifs-lab.gif.webm")
//-                 li.slide(img src = "http://media1.giphy.com/media/fq5yiYcnmColW/giphy.gif")
//-                 li.slide(img src = "http://media.giphy.com/media/esyFXh4925MNa/giphy.gif")
//-               //- div.sneakPeek
//-               //-   div.author
//-               //-     != item.author
//-               //-   div.title
//-               //-     != item.title
//-               //-   div.content
//-               //-     != item.content
//-               //-   form(action ="/slider/#{item._id}", method = "get")
//-               //-     button.update(type="submit") Update
//-               //-   form(action="/slider/#{item._id}?_method=DELETE", method="post")
//-               //-     button.delete(type="submit") X
//- script(type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js")
//- script(src="/js/blog.js")