
@import url(http://fonts.googleapis.com/css?family=Lobster);

*{
  list-style-type: none;
}

h1{
  font-family: 'Lobster', cursive;
  font-style: italic;
  display: inline-block;
  text-align: center;
  margin-left: 45%;
}
/*Blog main page*/
.blog_login{
  float: right;
  display: inline-block;
  margin-top: 32px;
}

.blog_login_button{
  /*display: none;*/
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 128, 255, .5);
  color: white;
}

/*.post, */
.old_post{
  /*background*/-image: url('http://www.dailybunny.com/.a/6a00d8341bfd0953ef0148c793026c970c-pi');
  height: 300px;
  size: contain;
  width: 90%;
  background-repeat: no-repeat;
  margin-top: 10px;
  position: relative;
  clear: both;
}

.sneakPeek{
  background-color: rgba(92, 92, 92, .3);
  height: 100px;
  width: inherit;
  position: absolute;
  top: 200px;
  color: white;
  padding-left: 15px;
}

.next, .prev{
  color: white;
  background-color: rgba(92, 92, 92, .3);
  border: 1px solid rgba(92, 92, 92, .5);
  border-radius: 3px;
  width: 25px;
  /*height: 80px;*/
  margin: 5px;
}
.item button.slick-next{
  display: none;
}

.author{
  margin-top: 15px;
}

.read_more{
  height: 30px;
  width: 90px;
  border: none;
  border-radius: 3px;
  background-color: rgba(245, 59, 76, .8)
}

.blog_content{
  overflow: hidden;
}

/*.form_container{
  display: none;
}*/
/*
label{
  width: 100px;
}*/

/*input, textarea{
  margin-top: 12px;
}
*/
/*#slider{
  width: 720px;
  height: 400px;
  overflow: hidden;
}

.slides{
  display: block;
  width: 600px;
  height: 400px;
  margin: 0;
  padding: 0;
}

.slide{
  float: left;
  list-style-type: none;
  width: 720px;
  height: 400px;
}*/
/*Login page*/
.login_form{
  padding:0;
  margin: auto;
  height: 300px;
  width: 300px;
  background-color: rgba(224, 224, 224, .8);
  text-align: center
}
.login_button, .update_button{
  background-color: rgba(0, 128, 255, .5);
  color: white;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
  margin: auto;
}

.username, .password{
  width: 195px;
  height: 20px;
/*  padding-top: 0;*/
  margin: auto;
}

.login_name{
  margin-top: 35px;
}
.login_center{
  text-align: center;
  padding-top: 25px;
  /*padding-top: 200px;*/
}

.login_image{
  background-image: url('http://media0.giphy.com/media/nuRXXyy020kta/200.gif');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 60px;
  width: 120px;
  height: 120px;
  z-index: 999;
  text-align: center;
  margin: auto;
  /*margin-top: 50px;*/
}

/*Create blog CSS*/
.old_post{
  display: none;
  margin:auto;
}
.new_post, .edit_posts{
  background-color: rgba(224, 224, 224, .8);
  max-width: 600px;
  margin: auto;
}

fieldset{
  border:none;
}

input{
  clear: both;
  width: 400px;
  /*min-width: 200px;*/
  height: 20px;
  /*margin: auto;*/
  /*text-align: center;*/
  margin-top: 5px;
  /*float: right;*/
}
.author{
  margin-top: 5px;
}

textarea{
  margin-top: 5px;
  width: 400px;
  height: 100px;
  /*margin: auto;*/
}

label{
  margin-top: 10px;
  margin-left: 10px;
  width: 70px;
  float: left;
}

.create_post{
  width: 30px;
  height: 30px; 
  border-radius: 50px;
  color: white;
  border: none;
  background-color: rgba(0, 128, 255, .5);
  float: right;
}
/*.view_posts li{
  margin-top: 10px;

.view_posts .post{
  margin: auto;
}*/
/*Edit posts*/
.update_button{
  float: right;
  margin: auto;
  /*text-align: center;*/
}
.view_posts .post{
  margin-top: 10px;
  width: 550px;
  /*text-align: center;*/
}
.main_title{
  font-size: 18px;
  background-color: rgba(224, 224, 224, .5);
  margin: auto;
  padding: 0;
  width: inherit;
}
li.item{
  margin-top: 10px;
  padding: 0;
}


/*input
