
@import url(http://fonts.googleapis.com/css?family=Lobster);

*{
  list-style-type: none;
}

h1{
  font-family: 'Lobster', cursive;
  font-style: italic;


}

.next, .prev{
  color: white;
  background-color: rgba(92, 92, 92, .3);
  border: 1px solid rgba(92, 92, 92, .5);
  border-radius: 3px;
  width: 25px;
  /*height: 80px;*/
  margin: 5px;
}